.DS_Store
node_modules
backendserver/node_modules
frontendserver/frontend/node_modules
frontendserver/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.py


